main img {
  margin: auto;
  text-align: center;
}
main {
  text-align: center;
}
html {
  margin: 0;
  padding: 0;
  background-color: black;
}
a {
  color: #440084;
}
a:hover {
  color: #f600ff;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
