header img {
  position: relative;
}
header h1 {
  position: absolute;
  top: 70px;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px #ffff2d;
}
header {
  margin: auto;
}
body {
  margin: 0;
}
h2 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
main {
  margin: auto;
  padding-top: 50px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
nav img {
  opacity: 0.5;
}
nav img:hover {
  opacity: 1;
}
nav {
  background-color: #51054c;
  height: 100px;
  text-align: center;
}
